ul#messages
form#form(action="")
    
    input#input(autocomplete="off")
    button Send
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/chatroom.js')
    //else
    if !locals.user
        h4 You are not logged in! Please #[a(href="/login") Log In] to continue.
